*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6d6d6d6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    width: 30em;
    height: 20em;
    margin: 0 auto;
    background: #fbf8f8eb;
    border-radius: 5px;
}


.modal-title {
    font-size: 2.5em;
    margin-top: 2.5em;
}

.modal-button {
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 4em;
    padding: 0.3em;
}

.modal-button:hover {
    cursor: pointer;

}

.modal-button:active {
    transform: scale(1.1, 1.1);
}

